 
 /*Google Font */
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

*{
    font-family: 'Itim', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-color:lightblue;

}

.container{
    display: flex;
    align-items: center;
    user-select: none;
    
}

.minus,.plus {
    width: 60px;
    height: 60px;
    background-color: white;
    border: 2px solid whitesmoke;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
}

.num{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 60px;
    width: 90px;
    margin: 0 10px;
    background: #fff;
    border: 1px solid #DDD;
    border-radius: 15px;
    font-size: 24px;
    color: #000;
    font-weight: bold;
    
}

.minus span{
    display: flex;
    width: 20px;
    height: 4px;
    background: #000;

}

.plus span:nth-child(1) {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    width: 20px;
    height: 4px;
    background: #000;}



    .plus span:nth-child(2) {
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display: flex;
        width: 4px;
        height: 20px;
        background: #000;}


    
